<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Panel de control de NursieBot</title>
</head>

<body>
    <div id="app">
        <div class="splash-screen">
            <div class="splash-container">
                <div class="splash-double-bounce1"></div>
                <div class="splash-double-bounce2"></div>
            </div>
        </div>
    </div>
</body>

</html>