<template>
	<div class="p-grid p-fluid" style="display:flex; justify-content: center;">

		
		

		<div class="p-col-12 p-sm-6">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Listado de pacientes</h1></row>
				<row style="display:flex; align-items:center; justify-content:space-between; padding-top:10px;">
						<button class="p-link" style="width:100%; display:flex; align-items:center; justify-content:space-between;">
							<img src="assets/layout/images/avatar_1.png" width="35" alt="avatar1"/>
							<span class="name" style="color:#ffffff; margin-left:10px;">Claire Williams</span>
							<span class="name" style="color:#ffffff; margin-left:10px;">Habitación 1</span>
						</button>
				</row>
				<row style="display:flex; align-items:center; justify-content:space-between; padding-top:10px">
					<button class="p-link" style="width:100%;display:flex; align-items:center; justify-content:space-between;">
							<img src="assets/layout/images/avatar_2.png" width="35" alt="avatar2"/>
							<span class="name" style="color:#ffffff; margin-left:10px;">Jason Dourne</span>
							<span class="name" style="color:#ffffff; margin-left:10px;">Habitación 2</span>
					</button>
				</row>
				<row style="display:flex; align-items:center; justify-content:space-between; padding-top:10px">
					<button class="p-link" style="width:100%;display:flex; align-items:center; justify-content:space-between;">
							<img src="assets/layout/images/avatar_3.png" width="35" alt="avatar3"/>
							<span class="name" style="color:#ffffff; margin-left:10px;">Jane Davidson</span>
							<span class="name" style="color:#ffffff; margin-left:10px;">Habitación 3</span>
						</button>
				</row>
				<row style="display:flex; align-items:center; justify-content:space-between; padding-top:10px">
					<button class="p-link" style="width:100%;display:flex; align-items:center; justify-content:space-between;">
							<img src="assets/layout/images/avatar_4.png" width="35" alt="avatar4"/>
							<span class="name" style="color:#ffffff; margin-left:10px;">Tony Corleone</span>
							<span class="name" style="color:#ffffff; margin-left:10px;">Habitación 4</span>
						</button>
				</row>
				<div class="p-col-12" style="padding-top:20px">
					<a href="#/page2">
					<Button type="button" label="Ir a página paciente" icon="pi pi-user"/>
					</a>
				</div>
			</div>
		</div>

		<div class="p-col-12 p-sm-6">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Horarios</h1></row>
				<row style="display:flex; align-items:center; justify-content:space-between;"><p>Desayuno:</p><p>9:00h</p></row>
				<row style="display:flex; align-items:center; justify-content:space-between;"><p>Comida:</p><p>13:00h</p></row>
				<row style="display:flex; align-items:center; justify-content:space-between;"><p>Merienda:</p><p>17:00h</p></row>
				<row style="display:flex; align-items:center; justify-content:space-between;"><p>Cena:</p><p>21:00h</p></row>
				<div class="p-col-12" >
					<a href="#/page1">
					<Button  type="button" label="Ir a página comida" icon="pi pi-apple"/>
					</a>
				</div>
			</div>
		</div>

		<div class="p-col-12 p-sm-8">
			<div class="card" style="background-color: #4d505b;" >
				<row><h1>Cámara robot</h1></row>
				
				<div class="p-col-12" >
					<a href="#/page3">
					<Button  type="button" label="Ir a página robot" icon="pi pi-android"/>
					</a>
				</div>
			</div>
		</div>
		
	</div>
</template>

<script>
export default {

}
</script>

<style scoped>

	#menu2 ul li{
		border-bottom: 1px solid #e3e3e3;
		}

	.card h1{
    text-align:center;
    color: #ffffff;
  }

  .card p{
    color: #ffffff;
  }



</style>