<template>
    <div class="p-grid" style="background-color: #4d505b;">
        <div class="p-col-12" style="display: flex; justify-content: center; align-items: center;">
            <div class="card" style="background-color: #4d505b; ">
                <h1>Cámara Robot</h1>
                <div>
                    <p>Pulse el botón cámara para desplegar el canvas de la cámara.</p>
                    <div class="p-col-6">
                        <div id="mjpeg"></div>
                        <div
                            class="p-col-4 p-sm-4"
                            style="float:right; display: flex; justify-content: center; align-items: center;"
                        >
                            <div class="card" style="background-color: #4d505b; ">
                                <row style="display:flex; justify-content:center;">
                                    <Button
                                        icon="pi pi-chevron-up"
                                        class="p-button-raised p-button-rounded"
                                        @click="frontRear(1)"
                                    />
                                </row>
                                <row style="display:flex; justify-content:center; margin-top:10px;">
                                    <Button
                                        icon="pi pi-chevron-left"
                                        class="p-button-raised p-button-rounded"
                                        @click="leftRight(1)"
                                    />
                                    <Button
                                        style="width: 50px; background-color: red; margin-left:10px; margin-right:10px;"
                                        label="Stop"
                                        class="p-button-raised p-button-rounded"
                                        @click="stop()"
                                    />
                                    <Button
                                        icon="pi pi-chevron-right"
                                        class="p-button-raised p-button-rounded"
                                        @click="leftRight(-1)"
                                    />
                                </row>
                            </div>
                        </div>
                        <Button label="Cámara" style="margin-bottom: 10px" @click="setCamera" />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <p>Pulse el botón para conectar al robot.</p>
                        <button src alt @click="controlar">{{ tControl }}</button>
                        <p>Pulse el botón para identificar.</p>
                        <button src alt @click="enviarFoto">Enviar Foto</button>
                        <p>{{ resultado }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ROSLIB from "roslib";

export default {
    data() {
        return {
            control: false,
            tControl: "Controlar",
            resultado: ""
        };
    },
    mounted() {
        let eventemitter2 = document.createElement("script");
        let mjpegcanvas = document.createElement("script");
        eventemitter2.setAttribute(
            "src",
            "https://cdn.jsdelivr.net/npm/eventemitter2@5.0.1/lib/eventemitter2.min.js"
        );
        mjpegcanvas.setAttribute(
            "src",
            "https://static.robotwebtools.org/mjpegcanvasjs/current/mjpegcanvas.min.js"
        );
        eventemitter2.async = true;
        mjpegcanvas.async = true;
        document.head.appendChild(eventemitter2);
        document.head.appendChild(mjpegcanvas);

        // this.setCamera();

        window.addEventListener(
            "keydown",
            function(e) {
                e.preventDefault();
                switch (e.keyCode) {
                    case 37:
                    case 65:
                        this.leftRight(1);
                        break;
                    case 38:
                    case 87:
                        this.frontRear(1);
                        break;
                    case 39:
                    case 68:
                        this.leftRight(-1);
                        break;
                    case 40:
                    case 83:
                        this.frontRear(-1);
                        break;
                }
            }.bind(this)
        );

        window.addEventListener(
            "keyup",
            function(e) {
                this.stop();
            }.bind(this)
        );
    },
    methods: {
        setCamera: function() {
            console.log("set camera method");
            this.cameraViewer = new MJPEGCANVAS.Viewer({
                divID: "mjpeg",
                host: "localhost",
                port: 11315,
                width: 560,
                height: 400,
                topic: "/turtlebot3/camera/image_raw",
                ssl: false
            });
        },
        controlar: function() {
            if (!this.control) {
                console.log("En control");
                this.tControl = "Cancelar";
                this.control = !this.control;
            } else {
                console.log("En pausa");
                this.tControl = "Conectar";
                this.control = !this.control;
            }
        },
        frontRear: function(direction) {
            if (this.control) {
                console.log("Direccion " + direction);
                let topic = new ROSLIB.Topic({
                    ros: this.$root.ros,
                    name: "/cmd_vel",
                    messageType: "geometry_msgs/Twist"
                });

                let message = new ROSLIB.Message({
                    linear: { x: 0.15 * direction, y: 0, z: 0 },
                    angular: { x: 0, y: 0, z: 0 }
                });
                topic.publish(message);
                //this.ros.loginfo("Dentro de leftright")
                //this.ros.sleep(1)
            }
        },
        leftRight: function(direction) {
            if (this.control) {
                console.log("Girar " + direction);
                let topic = new ROSLIB.Topic({
                    ros: this.$root.ros,
                    name: "/cmd_vel",
                    messageType: "geometry_msgs/Twist"
                });
                let message = new ROSLIB.Message({
                    linear: { x: 0, y: 0, z: 0 },
                    angular: { x: 0, y: 0, z: 0.5 * direction }
                });
                topic.publish(message);
                //this.ros.loginfo("Dentro de leftright")
                //this.ros.sleep(1)
            }
        },
        stop: function() {
            console.log("Parar");
            let topic = new ROSLIB.Topic({
                ros: this.$root.ros,
                name: "/cmd_vel",
                messageType: "geometry_msgs/Twist"
            });
            let message = new ROSLIB.Message({
                linear: { x: 0, y: 0, z: 0 },
                angular: { x: 0, y: 0, z: 0 }
            });
            topic.publish(message);
        },
        enviarFoto: function() {
            console.log("Enviar foto");
            var imagen = null;

            // Cliente para el servicio de reconocimiento
            var reconocimientoClient = new ROSLIB.Service({
                ros: this.$root.ros,
                name: "/reconocimiento",
                serviceType: "nursie_yolo/YoloService"
            });

            // Subscripción al topic para imagen de la cámara
            var listener = new ROSLIB.Topic({
                ros: this.$root.ros,
                name: "/turtlebot3/camera/image_raw",
                messageType: "sensor_msgs/Image"
            });

            listener.subscribe(function(message) {
                console.log(
                    "Received message on " + listener.name // + ": " + message.data
                );
                var request = new ROSLIB.ServiceRequest({
                    imagen: message
                });
                reconocimientoClient.callService(request, function(result) {
                    console.log("Resultado recibido: " + result);
                    this.resultado = result;
                });
                listener.unsubscribe();
            });
        }
    }
};
</script>

<style scoped>
#menu2 ul li {
    border-bottom: 1px solid #e3e3e3;
}

.card h1 {
    text-align: center;
    color: #ffffff;
    align-items: start;
}

.card p {
    color: #ffffff;
}

@media (max-width: 480px) {
    #mjpeg {
        width: 300px;
    }
}
</style>