<template>
    <div class="p-grid p-fluid">
        <div class="p-col-12 p-sm-6">
            <div class="card" style="background-color: #4d505b;">
                <row>
                    <h1>Habitación 1</h1>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Estado:</p>
                    <p>Enfermo</p>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Paciente:</p>
                    <p>Pepe</p>
                </row>
                <row style="display:flex; align-items:center;">
                    <InputSwitch v-model="switchValue1" />
                    <p style="margin-left:10px;">Reparto automático</p>
                </row>
                <row>
                    <Button
                        class="but"
                        type="button"
                        label="Repartir ahora"
                        icon="pi pi-apple"
                        @click="enviarDestino([1])"
                    />
                </row>
            </div>
        </div>
        <div class="p-col-12 p-sm-6">
            <div class="card" style="background-color: #4d505b;">
                <row>
                    <h1>Habitación 2</h1>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Estado:</p>
                    <p>Enfermo</p>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Paciente:</p>
                    <p>Pepe</p>
                </row>
                <row style="display:flex; align-items:center;">
                    <InputSwitch v-model="switchValue2" />
                    <p style="margin-left:10px;">Reparto automático</p>
                </row>
                <row>
                    <Button
                        class="but"
                        type="button"
                        label="Repartir ahora"
                        icon="pi pi-apple"
                        @click="enviarDestino([2])"
                    />
                </row>
            </div>
        </div>
        <div class="p-col-12 p-sm-6">
            <div class="card" style="background-color: #4d505b;">
                <row>
                    <h1>Habitación 3</h1>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Estado:</p>
                    <p>Enfermo</p>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Paciente:</p>
                    <p>Pepe</p>
                </row>
                <row style="display:flex; align-items:center;">
                    <InputSwitch v-model="switchValue3" />
                    <p style="margin-left:10px;">Reparto automático</p>
                </row>
                <row>
                    <Button
                        class="but"
                        type="button"
                        label="Repartir ahora"
                        icon="pi pi-apple"
                        @click="enviarDestino([3])"
                    />
                </row>
            </div>
        </div>
        <div class="p-col-12 p-sm-6">
            <div class="card" style="background-color: #4d505b;">
                <row>
                    <h1>Habitación 4</h1>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Estado:</p>
                    <p>Enfermo</p>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Paciente:</p>
                    <p>Pepe</p>
                </row>
                <row style="display:flex; align-items:center;">
                    <InputSwitch v-model="switchValue4" />
                    <p style="margin-left:10px;">Reparto automático</p>
                </row>
                <row>
                    <Button
                        class="but"
                        type="button"
                        label="Repartir ahora"
                        icon="pi pi-apple"
                        @click="enviarDestino([4])"
                    />
                </row>
            </div>
        </div>
        <div class="p-col-12 p-sm-6">
            <div class="card card-w-title" style="background-color: #4d505b;">
                <h1>Horarios</h1>
                <div class="p-grid" style="color: #ffffff;">
                    <div class="p-col-12 p-md-4">
                        <label for="desayuno">Desayuno</label>
                    </div>
                    <div class="p-col-12 p-md-8">
                        <Calendar
                            id="desayuno"
                            placeholder="Hora"
                            v-model="date1"
                            :timeOnly="true"
                            :showTime="true"
                        />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label for="comida">Comida</label>
                    </div>
                    <div class="p-col-12 p-md-8">
                        <Calendar
                            id="comida"
                            placeholder="Hora"
                            v-model="date2"
                            :timeOnly="true"
                            :showTime="true"
                        />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label for="merienda">Merienda</label>
                    </div>
                    <div class="p-col-12 p-md-8">
                        <Calendar
                            id="merienda"
                            placeholder="Hora"
                            v-model="this.date3"
                            :timeOnly="true"
                            :showTime="true"
                        />
                    </div>
                    <div class="p-col-12 p-md-4">
                        <label for="cena">Cena</label>
                    </div>
                    <div class="p-col-12 p-md-8">
                        <Calendar
                            id="cena"
                            placeholder="Hora"
                            v-model="date4"
                            :timeOnly="true"
                            :showTime="true"
                        />
                    </div>
                    <div class="p-col-12 p-md-6">
                        <Button
                            label="Repartir ahora"
                            style="margin-bottom: 10px"
                            @click="repartirAhora"
                        />
                    </div>
                    <div class="p-col-12 p-md-6">
                        <Button
                            label="Cancelar"
                            style="margin-bottom: 10px"
                            class="p-button-danger"
                        />
                    </div>
                </div>
                <!--
                 <row>
                    <h1>Horarios</h1>
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Desayuno:</p>
                    <Calendar placeholder="Time" v-model="date1" :timeOnly="true" :showTime="true" />
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Comida:</p>
                    <Calendar placeholder="Time" v-model="date2" :timeOnly="true" :showTime="true" />
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Merienda:</p>
                    <Calendar placeholder="Time" v-model="date3" :timeOnly="true" :showTime="true" />
                </row>
                <row style="display:flex; align-items:center; justify-content:space-between;">
                    <p>Cena:</p>
                    <Calendar placeholder="Time" v-model="date4" :timeOnly="true" :showTime="true" />
                </row>
                -->
            </div>
        </div>
        <div class="p-col-12 p-sm-6">
            <div class="card" style="background-color: #4d505b;">
                <row>
                    <h1>Seleccionar horarios</h1>
                </row>
                <row>
                    <Dropdown
                        class="drop"
                        style="margin-top:22px; margin-bottom:22px;"
                        v-model="seleccionar"
                        :options="comidas"
                        optionLabel="nombre"
                        placeholder="Seleccionar"
                    />
                </row>
                <row>
                    <Spinner style="width:50%;" v-model="value1" :min="1" :max="23" />
                    <Spinner style="width:50%;" v-model="value2" :min="0" :max="59" />
                </row>
                <row>
                    <Button
                        class="but"
                        style="margin-top:22px; margin-bottom:22px;"
                        type="button"
                        label="Actualizar"
                    />
                </row>
            </div>
        </div>
    </div>
</template>

<script>
import ROSLIB from "roslib";

export default {
    data() {
        return {
            switchValue1: true,
            switchValue2: false,
            switchValue3: false,
            switchValue4: true,
            seleccionar: null,
            comidas: [
                { nombre: "Desayuno", code: "dy" },
                { nombre: "Comida", code: "cm" },
                { nombre: "Merienda", code: "mr" },
                { nombre: "Cena", code: "cn" }
            ],
            date1: null,
            date2: null,
            date3: null,
            date4: null,
            clienteReparto: new ROSLIB.ActionClient({
                ros: this.$root.ros,
                serverName: "reparto_comida_servidor",
                actionName: "nursie_msgs/OrdenRepartoAction"
            }),
            textoEstado: ""
        };
    },
    methods: {
        enviarDestino: function(destinos) {
            var goal = new ROSLIB.Goal({
                actionClient: this.clienteReparto,
                goalMessage: {
                    destinos: destinos
                }
            });

            goal.on("feedback", function(feedback) {
                // console.log("Feedback: " + feedback.sequence);
                this.textoEstado = "Feedback: " + feedback.sequence;
            });

            goal.on("result", function(result) {
                // console.log("Final Result: " + result.sequence);
                this.textoEstado = "Final Result: " + result.sequence;
            });

            goal.send();
        },
        repartirAhora: function() {
            var variosDestinos = [];
            if (this.switchValue1) {
                variosDestinos.push(1);
            }
            if (this.switchValue2) {
                variosDestinos.push(2);
            }
            if (this.switchValue3) {
                variosDestinos.push(3);
            }
            if (this.switchValue4) {
                variosDestinos.push(4);
            }
            this.enviarDestino(variosDestinos);
        },
        cancelar: function() {
            var cancelTopic = new ROSLIB.Topic({
                ros: this.$root.ros,
                name: "/reparto_comida_servidor/cancel",
                messageType: "std_msgs/Empty"
            });
            cancelTopic.publish();
        }
    }
};
</script>

<style scoped>
.card h1 {
    text-align: center;
    color: #ffffff;
}

.card p {
    color: #ffffff;
}
</style>
