<template>
	<div class="p-grid p-fluid" style="display:flex; justify-content: center;">

		<div class="p-col-12 p-sm-10">
			<div class="card" style="background-color: #4d505b;" >
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
			</div>
		</div>
		

		<div class="p-col-12 p-sm-4">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Control robot</h1></row>
				<row style="display:flex; justify-content:center;"><Button  icon="pi pi-chevron-up" class="p-button-raised p-button-rounded" /></row>
				<row style="display:flex; justify-content:center; margin-top:10px;">
					<Button  icon="pi pi-chevron-left" class="p-button-raised p-button-rounded" />
					<Button style="width: 50px; background-color: red; margin-left:10px; margin-right:10px;" label="stop" class="p-button-raised p-button-rounded" />
					<Button  icon="pi pi-chevron-right" class="p-button-raised p-button-rounded" />
				</row>
			</div>
		</div>

		<div class="p-col-12 p-sm-4">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Posición</h1></row>
				<row style="display:flex; align-items:center; justify-content:space-between;"><p>X:</p><p>9</p><p>Y:</p><p>7</p></row>
				
				
			</div>
		</div>

		<div class="p-col-12 p-sm-4">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Estado</h1></row>
				<row style="display:flex; align-items:center; justify-content:space-between;"><p>estado</p></row>
				
			</div>
		</div>
		
	</div>
</template>

<script>
export default {

}
</script>

<style scoped>

	#menu2 ul li{
		border-bottom: 1px solid #e3e3e3;
		}

	.card h1{
    text-align:center;
    color: #ffffff;
  }

  .card p{
    color: #ffffff;
  }



</style>