<template>
  <div class="p-grid p-fluid" style="display:flex; justify-content: center;">
    <div class="p-col-12 p-sm-6">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Medir Temperatura</h1></row>
				<row><Dropdown class="drop" style="margin-top:22px; margin-bottom:10px;" v-model="seleccionar" :options="pacientes" optionLabel="nombre" placeholder="Seleccionar" /></row>
				<row style="display:flex; align-items:center; justify-content:space-between;margin-bottom:10px;"><p>Última temperatura:</p><p>38ºC</p></row>
				<row><Button class="but" type="button" label="Medir temperatura" icon="pi pi-filter"/></row>
			</div>
		</div>
    <div class="p-col-12 p-sm-6">
			<div class="card" style="background-color: #4d505b;">
				<br><br><br><br><br><br><br><br><br><br><br>
			</div>
		</div>
    <div class="p-col-12 p-sm-6">
			<div class="card" style="background-color: #4d505b;">
				<row><h1>Ficha paciente</h1></row>
				<row style="display:flex; align-items:center; justify-content:space-between;margin-bottom:10px; "><p>Nombre:</p><p>Antonio</p></row>
				<row style="display:flex; align-items:center; justify-content:space-between;margin-bottom:10px; "><p>Habitación:</p><p>3</p></row>
				<row style="display:flex; align-items:center; justify-content:space-between;margin-bottom:10px;"><p>Temperatura:</p><p>38ºC</p></row>
				<row style="display:flex; align-items:center; justify-content:space-between;margin-bottom:10px;"><p>Hora última medida:</p><p>10:00h</p></row>
			</div>
		</div>
    
  </div>
</template>

<script>
export default {
    data(){
      return{
        seleccionar: null,
        pacientes: [
          {nombre: 'paciente 1', code: 'p1'},
          {nombre: 'paciente 2', code: 'p2'},
          {nombre: 'paciente 3', code: 'p3'},
          {nombre: 'paciente 4', code: 'p4'}
        ]
      }
    }
};
</script>

<style scoped>
  .card h1{
    text-align:center;
    color: #ffffff;
  }

  .card p{
    color: #ffffff;
  }

</style>
