<template>
	<div class="layout-footer">
		<span class="footer-text" style="margin-right: 5px">Powered by</span>
		<span class="footer-text" style="margin-left: 5px">J3RBotics</span>

	</div>
</template>

<script>
	export default {
		name: "AppFooter"
	}
</script>

<style scoped>

</style>