<template>
    <div class="layout-topbar">
        <button  class="p-link layout-menu-button" @click="onMenuToggle">
            <span class="pi pi-bars" v-tooltip="'Mostrar/ocultar menú'"></span>
        </button>
        <div class="layout-topbar-icons">
            <button class="p-link" @click="toggleConnection">
                <span
                    v-if="connected"
                    class="layout-topbar-icon pi pi-lock"
                    v-tooltip="'Desconectar'"
                ></span>
                <span v-else class="layout-topbar-icon pi pi-unlock" v-tooltip="'Conectar'"></span>
            </button>
            <button class="p-link" @click="onSettingsToggle">
                <span class="layout-topbar-item-text">Settings</span>
                <span class="layout-topbar-icon pi pi-cog" v-tooltip="'Ajustes conexión'"></span>
            </button>
            <OverlayPanel ref="op" :dismissable="true" appendTo="body">
                <div class="card card-w-title">
                    <h1>Conexión al servidor</h1>
                    <div>
                        <label for="acServerAddress">Dirección del servidor</label>
                        <InputText
                            placeholder="WebSocket"
                            v-model="rosbridge_address"
                            v-tooltip.top.focus="'Introduzca la dirección del servidor'"
                        />
                    </div>
                </div>
            </OverlayPanel>
        </div>
    </div>
</template>

<script>
import ROSLIB from "roslib";

export default {
    data() {
        return {
            // ros: this.$root.ros,
            rosbridge_address: this.$root.rosbridge_address,
            connected: this.$root.connected
        };
    },
    methods: {
        connect: function() {
            // define ROSBridge connection object
            this.$root.ros = new ROSLIB.Ros({
                url: this.rosbridge_address
            });

            // define callbacks
            this.$root.ros.on("connection", () => {
                this.connected = true;
                console.log("Connection to ROSBridge established!");
            });
            this.$root.ros.on("error", error => {
                console.log("Something went wrong when trying to connect");
                console.log(error);
            });
            this.$root.ros.on("close", () => {
                this.connected = false;
                console.log("Connection to ROSBridge was closed!");
            });
        },
        disconnect: function() {
            this.$root.ros.close();
        },
        toggleConnection: function() {
            this.$toast.add({severity:'success', summary: 'Success Message', detail:'Order submitted', life: 3000});
            if (this.connected) {
                this.disconnect();
            } else {
                this.connect();
            }
        },
        onMenuToggle(event) {
            this.$emit("menu-toggle", event);
        },
        onSettingsToggle(event) {
            this.$refs.op.toggle(event);
        }
    }
};
</script>